@font-face {
   font-family: 'digital-7 (mono italic)';
   font-display: swap;
   src: url('file:///Users/wilhelm/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-08_173707/fonts/digital-7%20(mono%20italic)/font.ttf');
}
